.advantage-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__scroll {
  display: flex;
}

.advantage__list {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.advantage__box {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-main-color);
}

.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
