.header {
  border-bottom: 1px solid #ececec;
}

.header__marking {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__scroll {
  display: flex;
}

.logotype-position {
  display: inline-block;
  margin-right: 93px;
}

.logotype__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logotype__logo_header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logotype__logo_footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.site-nav__list {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.site-nav__current {
  color: var(--accent);
}

.site-nav__current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';

  min-width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact__list {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
    fill: var(--accent);
  }
}

.contact__icon {
  fill: currentColor;
}

.contact__icon.margin {
  margin-right: 10px;
}
