.hero {
  // max-width: 480px;
  // height: 400px;
  margin: 0 auto;

  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-480.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-480@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-768.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-768@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-1600.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-1600@2x.jpg');
  }
}

.hero-position {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;

  max-width: 360px;

  @media screen and (min-width: 768px) {
    max-width: 365px;
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-color: transparent;
}
