.modal {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
}

.close-black {
  fill: var(--heading-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close:hover & {
    fill: var(--accent);
  }
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
}

.label-box {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea {
  height: 120px;
}

.modal-label {
  margin-bottom: 4px;

  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  height: 40px;
  padding-left: 40px;
  border-color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;

  &:hover,
  &:focus {
    border-color: var(--accent);
  }
}

.modal-icon {
  position: absolute;

  top: 50%;
  left: 12px;
  fill: var(--heading-main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--accent);
  }
}

.textarea {
  resize: none;
  padding: 12px 16px;
  border-color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.contract {
  color: var(--accent);
  text-decoration: underline;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--heading-main-color);
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.checkbox-box {
  margin-bottom: 30px;
}

.submit-btn {
  bottom: 50px;
  right: 30%;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
