.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-filtr {
  & :not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent);
  }
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  display: block;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.portfolio-list .portfolio-list .portfolio-item {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-main-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}

.portfolio-image {
  display: block;
}
