.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-scroll {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.taem-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.team-photo {
  display: block;
  margin-bottom: 30px;
}

.team-persom {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
}

.team-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-link {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 30px;
}

.icon {
  fill: currentColor;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: #ffffff;
  }
}
