h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-main-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

:root {
    --primary-text-color: #757575;
    --heading-main-color: #212121;
    --accent: #2196f3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.center {
    text-align: center;
}