ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
